*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  padding-bottom: 500px;
}

h1{
  color: purple;
}
/* classe dinamica */
.red-title{
  font-size: 50px;
  color: red;
  background-color: #000;
}